---
const { title = 'TE OLVIDASTE DEL TÍTULO!', msg = 'Charlemos un rato'  } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-20 bg-orange-400">

		</header>
		<menu class="bg-blue-500 flex">
			<li class="">
				<a href="/" class="hover:bg-white/25 px-2 block">Inicio</a>
			</li>
			<li class="">
				<a href="/quienes-somos" class="hover:bg-white/25 px-2 block">Quienes somos</a>
			</li>
			<li class="">
				<a href="/organigrama" class="hover:bg-white/25 px-2 block">Organigrama</a>
			</li>
			<li class="">
				<a href="/contacto" class="hover:bg-white/25 px-2 block">Contacto</a>
			</li>
		</menu>
		<p>Tu mensaje es: {msg}</p>
		<slot />
	</body>
</html>
